.vscode/settings.json
Computer Networks/chat/.vscode
Computer Networks/chat/client.exe
Computer Networks/chat/server.exe
Computer Networks/.vscode/
Scientific Initiation/Classification Algorithms/ENEM_2017.csv
Scientific Initiation/Classification Algorithms/.vscode/settings.json
